body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #fff;          /*  배경색 #fff */

    
}

*{
    box-sizing: border-box;
    user-select: none;
}

hr {
    width: 100%; 
}

#title {
    font-size: 36px; 
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000;
}

#board {
    width: 350px;
    height: 420 px;
    margin: 100px auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* text */
    color: #000;   /* 글씨색 # 000 */
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.correct {
    background-color: #619978;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #8d8f91;
    color: white;
    border-color: white
}

/* bg-slate-400 */
/* text-white */
/* border-white */ 


.keyboard{
    margin-bottom: 10px;
}

div button {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background: #d3d6da;
    border-radius: 5px;
    padding: 10px;
    transition: all .5s ease;
    border: none;
} 


  
  .pressed {
    background: #787c7e;
    transform: scale(1.2);
  }
/*   
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    grid-gap: 1rem;
    padding: 1rem;
    height: 100vh;
    background: skyblue;
  } */

  